@import "../../styles/variables";

.apartments {
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;

		.apartments {
			&__item {
				padding: 30px 40px 84px 40px;
				width: calc(33.333333% - 40px);
				margin: 0 20px 40px;

				&__title {
					margin: 0 0 50px;
				}

				&__img {
					height: 236px;
					padding: 0;
					margin: 0 0 50px;
				}

				&__cost {
					margin: 0 0 20px;
					font-size: 17px;
					line-height: 25px;

					strong {
						color: $pink;
						font-size: 20px;
					}
				}

				&__actions {
					bottom: 40px;
					padding: 0 40px;

					.btn {
						margin: 0;
					}
				}
			}

			&__features {
				margin-bottom: 20px;

				&__value {
					font-size: 20px;
				}
			}
		}
	}
	&__features {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;

		&__item {
			padding: 10px 10px;
			width: 33.33333%;
			font-size: 15px;
			line-height: 25px;
			font-weight: 500;
			color: $darkBlue;
		}

		&__label {
			font-size: 15px;
		}

		&__value {
			font-size: 17px;
		}
	}
	&__actions {
		margin-top: 30px;

		.btn {
			margin: auto;
		}
	}
	&__popper {
		.apartments {
			&__item {
				display: flex;
				margin: 0;
				padding: 40px 30px;
				border: 0 none;
				text-align: left;

				&.middle {
					align-items: center;
				}

				&__left {
					width: 230px;
					flex-shrink: 0;
				}

				&__right {
					width: 390px;
					padding: 0 0 0 30px;
				}

				&__title {
					margin: 0 0 10px;

					&:hover {
						text-decoration: underline;
					}
				}

				&__img {
					margin: 0;
				}

				&__cost {
					margin: 10px 0 0;
					font-size: 17px;
					line-height: 25px;

					strong {
						font-weight: 700;
						color: $pink;
					}
				}
			}
		}

		.apartment {
			&__info {
				display: block;
				padding: 0 0 0 30px;
				max-width: 200px;

				&__item {
					width: auto;
					margin: 0 0 30px;
					padding: 0;

					&:last-child {
						margin: 0;
					}
				}

				&__img {
					img {
						display: block;
						max-width: 100%;
					}
				}

				&__text {
					font-weight: 500;
					font-size: 17px;
					text-align: center;
					margin: 20px 0 0;
				}
			}
		}
	}

	&__item, &__row {
		&-enter {
			opacity: 0;
			transform: scale(0.9) translateY(60px);
		}

		&-enter-active {
			opacity: 1;
			transform: translateY(0) ;
			transition: opacity 600ms, transform 600ms;
		}

		&-exit {
			opacity: 1;
		}

		&-exit-active {
			opacity: 0;
			transform: scale(0.9) translateY(60px);
			transition: opacity 600ms, transform 600ms;
		}
	}
}

@media only screen and (max-width: 992px){
	.apartments {
		$ap:&;

		&__list  {
			#{$ap}{
				&__item {
					width: calc(50% - 30px);
					margin: 0 15px 30px;
				}
			}
		}
	}
}